---
layout: default_en
title: Biography
absolute_path_nl: /biografie/
absolute_path_en: /en/biography/
---

<div class="background-image background-mahij">
  <div class="page-bio container">
    <div class="container-without-padding">
      <h1 class="page-title fadeIn">Biography</h1>

      <div class="">
        {% for alinea in site.data.biografie.main %} {% if alinea.alinea-en %}
        <p class="biografie fadeIn">{{ alinea.alinea-en }}</p>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
  <div class="container-without-padding">
    <section class="section-quote">
      <p class="quote fadeIn">{{ site.data.biografie.quote-en }}</p>
      <p class="quote-author fadeIn">{{ site.data.biografie.quote-author }}</p>
    </section>
    <div
      class="image-container fadeInPhoto container-without-padding bio-image-container border-top"
    >
      <img
        src="{{site.baseurl}}{{site.data.biografie.image}}"
        alt=""
        class="bio-image"
      />
      <p class="photographer">© {{ site.data.biografie.photographer }}</p>
    </div>
  </div>
</div>
