---
layout: default_en
title: Concerts
---

<div class="container">
  <h1 class="page-title fadeIn">Calendar</h1>

  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.date >= site.time" %} {% for concert in future_concerts %}
  <div class="concert-poster fadeIn">
    <div class="concert-datetime">
      <p class="concert-date"></p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <div class="concert-location">
      <p class="concert-hall">
        {% if concert.hall_en %}{{concert.hall_en}}{% else %} {{concert.hall}}{%
        endif %}
      </p>
      <p class="concert-place">
        {% if concert.place_en %}{{concert.place_en}}{% else %}
        {{concert.place}}{% endif %}
      </p>
      <p class="concert-repertoire">
        {% if concert.repertoire_en %}{{concert.repertoire}}{% else %}
        {{concert.repertoire}}{% endif %}
      </p>
      <p class="concert-musicians">{{concert.musicians_en}}</p>
      {% if concert.organizer_url %}
      <p class="concert-tickets">{{concert.organizer_url}}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <h1 class="page-title fadeIn">Archive</h1>
  {% assign past_concerts = site.concerts | where_exp: "concert", "concert.date
  < site.time" %} {% for concert in past_concerts %} {% if concert.in_archive ==
  true %}
  <div class="concert-poster archive fadeIn">
    <div class="concert-datetime">
      <p class="concert-date">{{concert.date | date_to_long_string }}</p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <div class="concert-location">
      <p class="concert-hall">{{concert.hall_en}}</p>
      <p class="concert-place">{{concert.place_en}}</p>
      <p class="concert-repertoire">{{concert.repertoire_en}}</p>
      <p class="concert-musicians">{{concert.musicians_en }}</p>
      {% if concert.organizer_url %}
      <p class="concert-tickets">{{concert.organizer_url}}</p>
      {% endif %}
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
