---
layout: default
title: concerts
---

musicians, organizer_url, in_archive, cancelled, time, date, hall, repertoire,
place
<div class="container">
  <h1 class="page-title">Agenda</h1>

  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.concert_date > site.time" %} {% for concert in future_concerts %}
  <div>
    <p>{{concert.concert_date | date: "%d-%m-%Y" }}</p>
    <p>{{concert.concert_time | date: "%H:%I"}}</p>
    <p>{{concert.hall}}</p>
    <p>{{concert.place}}</p>
    <p>{{concert.repertoire}}</p>
    <p>{{concert.musicians}}</p>
  </div>
  {% endfor %}

  <h1 class="page-title">Archief</h1>
  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.concert_date < site.time" %} {% for concert in future_concerts %} {%
  if concert.in_archive == true %}
  <div>
    <p>{{concert.title}}</p>
    <p>{{concert.concert_date | date: "%d-%m-%Y" }}</p>
    <p>{{concert.concert_date | date: "%H:%I" }}</p>
  </div>
  {% endif %} {% endfor %}
</div>
