---
layout: default
title: concerts
---

<div class="container">
  <h1 class="page-title">Agenda</h1>

  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.date > site.time" %} {% for concert in future_concerts %}
  <div>
    <p>{{concert.title}}</p>
    <p>{{concert.date}}</p>
  </div>
  {% endfor %}

  <h1 class="page-title">Archief</h1>
  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.date < site.time" %} {% for concert in future_concerts %} {% if
  concert.in_archive == true %}
  <div>
    <p>{{concert.title}}</p>
    <p>{{concert.date | date: "%d-%m-%Y" }}</p>
    <p>{{concert.date | date: "%H:%I" }}</p>
  </div>
  {% endif %} {% endfor %}
</div>
