---
layout: default
title: concerts
---

<div class="container">
  <h1 class="page-title">Agenda</h1>

  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.date >= site.time" %} {% for concert in future_concerts %}
  <div class="concert-poster">
    <div class="concert-datetime">
      <p class="concert-date">{{concert.date | date_to_long_string }}</p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <div class="concert-location">
      <p class="concert-hall">{{concert.hall}}</p>
      <p class="concert-place">{{concert.place}}</p>
      <p class="concert-repertoire">{{concert.repertoire}}</p>
      <p class="concert-musicians">{{concert.musicians }}</p>
      {% if concert.organizer_url != "" %}
      <p class="concert-tickets">{{concert.organizer_url}}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <h1 class="page-title">Archief</h1>
  {% assign past_concerts = site.concerts | where_exp: "concert", "concert.date
  < site.time" %} {% for concert in past_concerts %} {% if concert.in_archive ==
  true %}
  <div class="concert-poster archive">
    <div class="concert-datetime">
      <p class="concert-date">{{concert.date | date: "%d-%m-%Y" }}</p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <p class="concert-hall">{{concert.hall}}</p>
    <p class="concert-place">{{concert.place}}</p>
    <p class="concert-repertoire">{{concert.repertoire}}</p>
    <p class="concert-musicians">{{concert.musicians}}</p>
    {% if concert.organizer_url != "" %}
    <p class="concert-tickets">{{concert.organizer_url}}</p>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
