{% assign language = page.lang %}

<div class="background-image background-mahij">
  <div class="container">
    <h1 class="page-title fadeIn">{{site.data.concerts.title[language]}}</h1>

    {% assign future_concerts = site.concerts | where_exp: "concert",
    "concert.date >= site.time" %} {% for concert in future_concerts %}
    <div class="concert-poster fadeIn">
      <div class="concert-location">
        <p class="concert-date">
          {% if page.lang == 0 %} {% assign m = concert.date | date: "%-m" %} {{
          concert.date | date: "%-d" }} {% case m %} {% when '1' %}Januari {%
          when '2' %}Februari {% when '3' %}Maart {% when '4' %}April {% when
          '5' %}Mei {% when '6' %}Juni {% when '7' %}Juli {% when '8' %}Augustus
          {% when '9' %}September {% when '10' %}Oktober {% when '11' %}November
          {% when '12' %}December {% endcase %} {{ concert.date | date: "%Y" }}
          | {{concert.date | date: "%k:%M" }} {% else %} {{concert.date | date:
          "%B %e, %Y"}} | {{concert.date | date: "%k:%M" }} {% endif %}
        </p>
        <p class="concert-hall">
          {% if page.lang == 0 %}{{concert.hall}}{% elsif concert.hall_en
          %}{{concert.hall_en}}{% else %} {{concert.hall}}{% endif %}
        </p>
        <p class="concert-place">
          {% if page.lang == 0 %}{{concert.place}}{% elsif concert.place_en
          %}{{concert.place_en}}{% else %} {{concert.place}}{% endif %}
        </p>
        <p class="concert-repertoire">
          {% if page.lang == 0 %}{{concert.repertoire}}{% elsif
          concert.repertoire_en %}{{concert.repertoire_en}}{% else %}
          {{concert.repertoire}}{% endif %}
        </p>
        <p class="concert-musicians">
          {% if page.lang == 0 %}{{concert.musicians | markdownify }}{% elsif
          concert.musicians_en | markdownify %}{{concert.musicians_en |
          markdownify }}{% else %} {{concert.musicians | markdownify }}{% endif
          %}
        </p>
        {% if concert.organizer_url %}
        <p class="margin-top">
          <a
            target="_blank"
            href="{{concert.organizer_url}}"
            class="concert-tickets btn"
            >{{site.data.concerts.information[language]}}</a
          >
        </p>
        {% endif %} {% if concert.cancelled %}
        <p class="concert-cancelled">
          {{ site.data.home.cancelled[language] }}
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <h1 class="page-title fadeIn">{{site.data.concerts.archive[language]}}</h1>
    {% assign past_concerts = site.concerts | where_exp: "concert",
    "concert.date < site.time" | reverse %} {% for concert in past_concerts %}
    {% if concert.in_archive == true %}
    <div class="concert-poster fadeIn">
      <div class="archive">
        <div class="concert-location">
          <p class="concert-date">
            {% if page.lang == 0 %} {% assign m = concert.date | date: "%-m" %}
            {{ concert.date | date: "%-d" }} {% case m %} {% when '1' %}Januari
            {% when '2' %}Februari {% when '3' %}Maart {% when '4' %}April {%
            when '5' %}Mei {% when '6' %}Juni {% when '7' %}Juli {% when '8'
            %}Augustus {% when '9' %}September {% when '10' %}Oktober {% when
            '11' %}November {% when '12' %}December {% endcase %} {{
            concert.date | date: "%Y" }} | {{concert.date | date: "%k:%M" }} {%
            else %} {{concert.date | date: "%B %e, %Y"}} | {{concert.date |
            date: "%k:%M" }} {% endif %}
          </p>
          <p class="concert-hall">
            {% if page.lang == 0 %}{{concert.hall}}{% elsif concert.hall_en
            %}{{concert.hall_en}}{% else %} {{concert.hall}}{% endif %}
          </p>
          <p class="concert-place">
            {% if page.lang == 0 %}{{concert.place}}{% elsif concert.place_en
            %}{{concert.place_en}}{% else %} {{concert.place}}{% endif %}
          </p>
          <p class="concert-repertoire">
            {% if page.lang == 0 %}{{concert.repertoire}}{% elsif
            concert.repertoire_en %}{{concert.repertoire_en}}{% else %}
            {{concert.repertoire}}{% endif %}
          </p>
          <p class="concert-musicians">
            {% if page.lang == 0 %}{{concert.musicians | markdownify }}{% elsif
            concert.musicians_en | markdownify %}{{concert.musicians_en |
            markdownify }}{% else %} {{concert.musicians | markdownify }}{%
            endif %}
          </p>
          {% if concert.organizer_url %}
          <p class="margin-top">
            <a
              href="{{concert.organizer_url}}"
              target="_blank"
              class="concert-tickets btn"
              >{{site.data.concerts.information[language]}}</a
            >
          </p>
          {% endif %} {% if concert.cancelled %}
          <p class="concert-cancelled">
            {{ site.data.home.cancelled[language] }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
