{% assign language = page.lang %}

<div class="background-image background-mahij">
  <section class="section-landing">
    <div class="video-container">
      <img
        src="/assets/img/DaanBoertienSebastianGaltier.jpg"
        alt="Daan met bomen"
        class="background-video imgsmall"
      />
      <img
        src="/assets/img/g3z506s2jaa3lwogi93g.1920x0.jpg"
        alt="Daan met bomen"
        class="background-video imglarge"
      />

      <div class="landing-title-container">
        <h1 class="landing-title fadeInLanding">Daan Boertien</h1>
        <p class="landing-subtitle fadeInLanding">Pianist</p>
      </div>
      <a href="#section-bio"
        ><i class="fa fa-angle-down bounce-7" aria-hidden="true"></i
      ></a>
    </div>
  </section>

  <section class="section-bio border-top" id="section-bio">
    <div class="container bio-teaser fadeIn">
      <p class="bio-teaser">
        {{ site.data.home.bio-teaser[language] | markdownify }}
      </p>
    </div>
    <p>
      <a href="/biografie/" class="btn fadeIn"
        >{{ site.data.home.read-more[language] }}</a
      >
    </p>
  </section>

  <div class="container-without-padding">
    <section class="section-media">
      <div class="iframe-container fadeInPhoto border-top">
        <iframe
          class="iframe"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/{{site.data.home.youtube-id}}"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <a href="/media/" class="btn fadeIn"
        >{{ site.data.home.more-videos[language] }}</a
      >
    </section>
  </div>
  <div class="container">
    <section class="section-cd">
      <div class="cd-image">
        <a href="https://trptk.com/shop/cds-sacds/schubert-winterreise-sacd/">
          <img src="/assets/img/Cover-scaled.jpg" alt=""
        /></a>
      </div>
      <p>
        <a
          href="https://trptk.com/shop/cds-sacds/schubert-winterreise-sacd/"
          class="btn fadeIn margin-top"
          target="_blank"
          >{% if page.lang == 0 %}Bestel nu!{% else %}Order now!{% endif %}</a
        >
      </p>
    </section>
  </div>
  <div class="container-without-padding">
    <section class="section-quote">
      <p class="quote fadeIn">
        {% if page.lang == 0 %}Wilmering legt in zijn interpretatie de nadruk op
        de rijkelijk aanwezige donkere kanten in de cyclus, wat zich onder meer
        uit in bedachtzame tempi waardoor de bariton zijn fraaie stem kan laten
        opbloeien. Het duo heeft hoorbaar over elke frase en elke noot
        nagedacht.{% else %}In his interpretation, Wilmering emphasizes the
        richly present darker sides in the cycle, which is reflected in, among
        other things, thoughtful tempos that allow the baritone to allow his
        fine voice to blossom. The duo has audibly thought about every phrase
        and every note.{% endif %}
      </p>
      <p class="quote-author fadeIn">- Erik Voermans, Het Parool</p>
    </section>
  </div>
  <section class="container section-more-concerts">
    <h2 class="next-concert fadeIn">
      {{ site.data.home.next-concert[language] }}
    </h2>
    {% assign future_concerts = site.concerts | where_exp: "concert",
    "concert.date >= site.time" %} {% for concert in future_concerts limit:1 %}
    <div class="concert-poster fadeIn">
      <div class="concert-location">
        <p class="concert-date">
          {% if page.lang == 0 %} {% assign m = concert.date | date: "%-m" %} {{
          concert.date | date: "%-d" }} {% case m %} {% when '1' %}Januari {%
          when '2' %}Februari {% when '3' %}Maart {% when '4' %}April {% when
          '5' %}Mei {% when '6' %}Juni {% when '7' %}Juli {% when '8' %}Augustus
          {% when '9' %}September {% when '10' %}Oktober {% when '11' %}November
          {% when '12' %}December {% endcase %} {{ concert.date | date: "%Y" }}
          | {{concert.date | date: "%k:%M" }} {% else %} {{concert.date | date:
          "%B %e, %Y"}} | {{concert.date | date: "%k:%M" }} {% endif %}
        </p>
        <p class="concert-hall">
          {% if page.lang == 0 %}{{concert.hall}}{% elsif concert.hall_en
          %}{{concert.hall_en}}{% else %} {{concert.hall}}{% endif %}
        </p>
        <p class="concert-place">
          {% if page.lang == 0 %}{{concert.place}}{% elsif concert.place_en
          %}{{concert.place_en}}{% else %} {{concert.place}}{% endif %}
        </p>
        <p class="concert-repertoire">
          {% if page.lang == 0 %}{{concert.repertoire}}{% elsif
          concert.repertoire_en %}{{concert.repertoire_en}}{% else %}
          {{concert.repertoire}}{% endif %}
        </p>
        <p class="concert-musicians">
          {% if page.lang == 0 %}{{concert.musicians | markdownify}}{% elsif
          concert.musicians_en | markdownify %}{{concert.musicians_en |
          markdownify }}{% else %} {{concert.musicians | markdownify }}{% endif
          %}
        </p>
        {% if concert.cancelled %}
        <p class="concert-cancelled">
          {{ site.data.home.cancelled[language] }}
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <p>
      <a href="/concerts/" class="btn fadeIn more-concerts">Meer concerten</a>
    </p>
  </section>
  <div class="container-without-padding">
    <section class="section-quote">
      <p class="quote fadeIn">{{ site.data.home.quote[language] }}</p>
      <p class="quote-author fadeIn">{{ site.data.home.quote-author }}</p>
    </section>
  </div>
  <section class="section-onemore fadeIn">
    <div class="container-without-padding home-last-image border-top">
      <img src="{{ site.data.home.last-image }}" alt="" />
      <p class="photographer">© {{ site.data.home.photographer }}</p>
    </div>
  </section>
</div>
