<div class="container navcontainer">
  <div class="navdesktop">
    <ul class="nl">
      {% for item in site.data.navigation %}
      <li class="fadeInTitle">
        <a
          href="{{item.url}}"
          class="navblack {% if page.url == item.url %}current {% endif %}"
          >{{item.name}}</a
        >
      </li>
      {% endfor %}
      <li class="fadeInTitle">
        <a href="{{page.absolute_path_nl}}" class="current">NL</a>
        <a href="{{page.absolute_path_en}}" class="navblack">EN</a>
      </li>
      <li class="fadeInTitle">
        <a
          href="https://www.instagram.com/daanboertien.pianist/"
          target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.facebook.com/daan.boertien/" target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
