<div class="container navcontainer">
    <div class="navdesktop">
        <ul class="nl">
           {% for item in site.data.navigation %}
               <li class="">
                   <a href="{{item.url}}"  
                   class="{% if page.url != "/" %}navblack {% endif %}{% if page.url == item.url %}current {% endif %}" >{{item.name}}</a>
                   
               </li>
           {% endfor %}
               <li class=""><a href="/" class="current">NL</a>  <a href="/en/" class="{% if page.url != "/" %}navblack {% endif %}">EN</a></li>
           
       </ul>
       
    </div>
</div>