.btn {
  border: 0px;
  background: var(--clr-greyblue);
  color: rgba(255, 255, 255, 0.85);
  display: block;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.7em 1.5em;
  border-radius: 100px;
  font-family: inherit;
  display: block;
  text-decoration: none;
  width: max-content;
  transition: background 0.4s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: var(--clr-greyblue-hover);
}
