.background-mahij {
  position: relative;
}
.background-mahij::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/mahij.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.05;
}

#background-mahij img {
  opacity: 0.2;
  object-fit: cover;
}

.concert-poster {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: var(--boxshadow);
  font-weight: 300;
  border-left: 10px solid var(--clr-greyblue);
  // border-radius: 10px;
  padding: 1em;
}

.concert-location {
  padding-bottom: 1em;
}

.concert-poster + .concert-poster {
  margin-top: 2em;
}

.concert-date,
.concert-place,
.concert-hall,
.concert-time {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}

.archive {
  opacity: 0.85;
}

.concert-date {
  color: var(--clr-greyblue);
  font-size: 1.3em;
}

.concert-hall {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--red);
}

.concert-place {
  margin-bottom: 1em;
}

.concert-repertoire {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
}

.concert-musicians {
  white-space: pre;
  margin-bottom: 1em;
}

.concert-tickets {
  margin-bottom: 0em;
}

.concert-cancelled {
  letter-spacing: 1;
  text-transform: uppercase;
  color: var(--clr-greyblue);
  font-weight: 500;
}
