form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 500px;
}

button[type="submit"],
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: 0;
  box-shadow: var(--boxshadow);
  border-radius: 5px;
}

input,
textarea {
  padding: 1em;
  margin-bottom: 1.5em;
}

textarea {
  margin-bottom: 2em;
  resize: vertical;
  min-height: 100px;
}

label {
  color: var(--clr-greyblue);
  margin-bottom: 0.2em;
}

input[type="submit"] {
  background: var(--clr-greyblue);
  padding: 0.75em 0;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: var(--clr-greyblue-hover);
}

.contact-invitation {
  color: var(--text-color);
}

// .modal {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 1.5em;
//   pointer-events: none;
//   opacity: 0;
// }

// .modal-body {
//   background: rgb(231, 230, 214);
//   padding: 1.5em;
//   box-shadow: var(--boxshadow);
//   border-radius: 5px;
// }

// .modal-body a {
//   margin: 0 auto;
//   margin-top: 1em;
// }

// .modal.modal-open {
//   pointer-events: all;
//   opacity: 1;
// }

.margin-bottom {
  margin-bottom: 2em;
}

.thank-you {
  margin-bottom: 1em;
}

.photographer-list li {
  line-height: 1.6;
  list-style: none;
}
