.section-landing {
  position: relative;
}

.video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  // align-items: center;
  color: white;
}

.video-container video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-position: bottom;
}

.video-container .landing-title-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.landing-title,
.landing-subtitle {
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing-title {
  font-size: 60px;
  color: white;
}

.landing-subtitle {
  font-size: 40px;
  color: var(--red);
}

.section-quote {
  font-style: italic;
  position: relative;
}

.section-quote::before {
  content: "“";
  position: absolute;
  top: -200px;
  left: -80px;
  font-family: "Playfair Display", serif;
  font-size: 500px;
  color: white;
  opacity: 0.4;
  z-index: -1;
  font-style: normal;
}

.quote-author {
  margin-top: 1em;
  text-align: right;
}

.section-media iframe {
  width: 100vw;
  height: 56.25vw;
}
