@media (min-width: 800px) {
  body {
    font-size: 1.25rem;
  }
  .video-container video {
    object-position: 0px bottom;
  }
  .section-quote {
    font-size: 1.25rem;
  }
  .fa-angle-down {
    bottom: 1em;
  }

  .bio-box {
    border-left: 10px solid var(--clr-greyblue);
    padding: 2em;
  }
  .all-items {
    column-count: 2;
    column-gap: 1.5em;
  }
}

@media (min-width: 1063px) {
  .hamburger {
    right: 0;
  }
  .section-quote {
    overflow: visible;
  }

  .container {
    padding: 0;
  }

  .flex {
    display: flex;
    gap: 2em;
  }

  .concert-hall {
    font-size: 2rem;
  }

  .concert-location {
    padding: 2em;
  }
  .concert-datetime {
    padding-left: 2em;
  }
}
