.media-titles {
  display: flex;
  justify-content: space-between;
}

.media-video {
  margin-bottom: 1.5em;
  background: black;
}

.boxshadow {
  box-shadow: var(--boxshadow);
}

.all-items {
  margin-bottom: 1.5em;
}

#fotos {
  padding-top: 1.5em;
}
